#page_heading
  .site_column
    %h1 Jiration
    %p This page lists open bugs on the eol.org website in order of 'user pain'. The user pain score is calculated based on three factors: seriousness, urgency, and impact. The age of the bug is also factored in to the score. If you have a bug to report that is not on this list, please send information to tech@eol.org.
    %br
    %p
      Current total userpain for EOL bugs:
      = "%.2f" % @total_pain
    %p
      %a{:href=> ""}

#content
  .site_column
    %form{:action => "/", :method => 'get'} 
      %select{:name => 'project'}
        %option{:selected => @project}=@project
        - @available_projects.each do |project|
          -unless project == @project
            %option{:value => project}= project
        -unless @project == "All"
          %option{:value => "All"} All
        %input{:type => 'submit', :value => "Filter", :class => "button"}
    %table.standard
      %thead
        %tr
          %th{ :scope => 'col' } Issue Key
          %th{ :scope => 'col' } Issue Summary
          %th{ :scope => 'col' } Userpain
      %tbody
        - @issues.reverse.each do |issue|
          %tr
            %td
              %a{:href=> issue.issue_link}= issue.key
            %td= issue.summary || '&mdash;&mdash;'
            %td{ :class => issue.label}
              = "%.3f" % issue.matuserpain unless issue.matuserpain.nil?